.teaser-rating {
  height: rem(32px);
  display: flex;
  align-items: center;

  // font-size: rem(14px);
  .r-date,
  .r-wrap,
  .r-reviews {
    padding-right: rem(16px);
  }

  .r-reviews {
    .mdi {
      position: relative;
      top: rem(2px);
    }
  }

  .r-num,
  .r-rev {
    font-size: rem(14px);
    padding-left: rem(8px);
  }
}
