@import './app/globalsass';
@import './app/sass-globals/base';
@import './app/sass-globals/typography';
@import './app/sass-globals/bootstrap-inherited';
// @import './app/sass-globals/material-inherited';

html,
body {
  font-size: rem(16px);
  height: 100%;
}

body {
  background-image: url('./assets/body-bg.jpg');
  background-color: #51220E;
  background-repeat: repeat;
  background-position: bottom center;
  background-size: cover;
  font-family: $font-family-sans-serif;
  line-height: 1.25;

  @media (min-resolution: 120dpi) and (-webkit-min-device-pixel-ratio: 1.2) {
    background-image: url('./assets/body-bg@2x.jpg');
  }

  .mdi {

    &,
    &:before {
      line-height: rem(24px);
    }
  }

  &.nav-open {
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 0;
  }

  .custom-control-label {

    &:before,
    &:after {
      top: 0.1rem;
    }
  }

  @keyframes rotating {
    100% {
      transform: rotate(360deg);
    }
  }

  .ld-spinner {
    border-radius: 50%;
    width: rem(40px);
    height: rem(40px);
    border: rem(4px) solid rgba(0, 0, 0, 0.1);
    border-top: rem(4px) solid $dark;
    animation: rotating 1s infinite cubic-bezier(0.75, 0.25, 0.25, 0.75);
  }

  .alert-dismissible {
    .close {
      padding: rem(12px);
    }
  }

  .slick-dots {
    // background-color: rgba($light, 0.9);
    bottom: 0;
    display: block;
    height: rem(24px);
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;

    &,
    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      // margin-top: rem(13px);
      padding: 0 rem(8px);

      &.slick-active button {
        background-color: $primary;
      }
    }

    button {
      background-color: $light;
      border-radius: rem(6px);
      border: rem(1px) solid $light;
      height: 10px;
      overflow: hidden;
      text-indent: -9999px;
      width: 24px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: rem(1px);
        left: rem(1px);
        width: calc(100% - #{rem(2px)});
        height: calc(100% - #{rem(2px)});
        border: 1px solid $primary;
        border-radius: rem(4px);
      }
    }
  }
}
