h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 400;
  line-height: 1.2;
}

body {
  letter-spacing: rem(0.8px);
  font-size: rem(16px);

  @media (min-width: $md) {
    font-size: rem(18px);
  }
}

p,
.p {
  font-size: rem(16px);

  @media (min-width: $md) {
    font-size: rem(18px);
  }
}

h1,
.h1 {
  font-size: rem(32px);

  @media (min-width: $md) {
    font-size: rem(54px);
  }
}

h2,
.h2 {
  font-size: rem(28px);

  @media (min-width: $md) {
    font-size: rem(44px);
  }
}

h3,
.h3 {
  font-size: rem(24px);

  @media (min-width: $md) {
    font-size: rem(36px);
  }
}

h4,
.h4 {
  font-size: rem(21px);

  @media (min-width: $md) {
    font-size: rem(32px);
  }
}

h5,
.h5,
blockquote {
  font-size: rem(18px);

  @media (min-width: $md) {
    font-size: rem(28px);
  }
}

h6,
.h6 {
  font-size: rem(16px);

  @media (min-width: $md) {
    font-size: rem(18px);
  }
}

blockquote {
  border-color: $dark;
  border-left-style: solid;
  border-left-width: rem(8px);
  color: $dark;
  font-weight: 100;
  padding-left: 1em;
  position: relative;

  footer {
    display: block;
    font-size: rem(14px);
    font-weight: 700;
    text-align: right;
    padding-right: rem(15px);
    padding-top: rem(15px);

    &:before {
      content: '\2015';
    }
  }
}

.dark {
  blockquote {
    border-color: $light;
    color: $light;
  }
}
