$rem480: rem(-480px);

.siteheader-comp {
  .nav-wrap {
    button {
      margin: 0 0 0 rem(16px);

      &:hover {
        color: $light;
        background-color: $dark;
      }
    }
  }
}

.site-user,
.site-nav,
.site-search,
.site-lang {
  width: rem(480px);

  &.active {
    transform: translateX(#{$rem480});
  }
}

.site-nav {
  background-color: transparent;
  box-sizing: border-box;
  height: auto;
  overflow: visible;
  position: static;
  right: 0;
  top: 0;
  width: 100%;

  .accessible-megamenu {
    display: flex;
    flex-direction: row;
    padding: 0 rem(228px) 0 rem(85px);
    width: 100%;
    justify-content: flex-end;

    &>.accessible-megamenu-top-nav-item {
      border: 0;
      float: none;
      margin-right: rem(1px);
      max-width: rem(176px);
      width: 19.5%;

      a[aria-expanded] {
        align-items: center;
        display: flex;
        font-size: rem(18px);
        height: rem(80px);
        justify-content: center;
        padding: rem(16px);

        .ikn {
          display: none;
        }
      }
    }
  }

  .accessible-megamenu-panel {
    border-radius: 0 0 rem(6px) rem(6px);
    box-shadow: 0px 8px 8px 0px rgba(#000, 0.25);
    padding: rem(24px) 0;

    p {
      padding: rem(8px) 0 0 0;
      margin: 0;
    }

    &.open {
      top: auto;
      max-height: none;
    }

    li {
      padding: rem(15px) 0;
    }

    a {
      display: inline;
      padding: 0;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
