<!-- <div class="activity-card" [ngClass]="sttheme">
  <div class="teaser-header" [ngClass]="{'with-icon': icon}">
    <div class="teaser-avtar">
      <app-responsive-image [stretch]="true" appResponsiveBreakpoint [imgData]="avtarImg"></app-responsive-image>
    </div>
    <div class="teaser-title">
      <p class="h-title" [innerHTML]="activity"></p>
    </div>
  </div>
  <div class="teaser-img" mat-card-image *ngIf="tileImg">
    <app-responsive-image [stretch]="true" appResponsiveBreakpoint [imgData]="tileImg"></app-responsive-image>
  </div>
  <div class="teaser-video" mat-card-image *ngIf="tileVideoURL">
    <iframe *ngIf="tileVideoSource === 'youtube'" width="560" height="315" [src]="tileVideoURL" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="teaser-subtitle" *ngIf="(tags || []).length > 0">
    <app-cta *ngFor="let tag of tags, index as i, last as isLast" [data]="{
                cssclass: tag.cssclass,
                href: tag.link,
                index: i,
                last: isLast,
                tag: tag.tag,
                text: tag.title,
                title: tag.title
            }" [theme]="sttheme"></app-cta>
  </div>
  <div class="teaser-content">
    <p [innerHTML]="desc"></p>
  </div>
  <div class="teaser-actions">
    <app-cta *ngFor="let cta of ctas, last as isLast" [data]="{
                cssclass: cta.cssclass,
                href: cta.link,
                icon: cta.icon,
                tag: cta.tag,
                text: cta.title,
                title: cta.title
            }" [theme]="sttheme"></app-cta>
  </div>
</div> -->
