<div class="teaser-rating" [attr.data-ratings]="ratings">
    <!-- <div class="r-wrap d-block d-md-none">
        <i class="material-icons" [innerHTML]="ratingsArr[0]"></i>
    </div>
    <div class="r-wrap d-none d-md-block">
        <i class="material-icons" *ngFor="let rt of ratingsArr" [innerHTML]="rt"></i>
    </div>
    <div class="r-num" *ngIf="ratings" [innerHTML]="ratings"></div> -->

    <!-- <div class="r-count" *ngIf="noofratings" [innerHTML]="get99(noofratings, 'Rating', 'Ratings')"></div> -->
    <div class="r-wrap" *ngIf="showratings">
        <span class="mdi" *ngFor="let rt of ratingsArr" [ngClass]="'mdi-' + rt"></span>
        <!-- <span class="mdi" [ngClass]="'mdi-' + onestar"></span> -->
        <span class="r-num" [innerHTML]="ratings"></span>
    </div>

    <div class="r-reviews" *ngIf="noofreviews && showreviews">
        <span class="mdi mdi-comment-text"></span>
        <span class="r-rev" [innerHTML]="get99(noofratings, 'Review', 'Reviews')"></span>
    </div>
</div>